 <!-- Modal -->
 <div class="modal fade" id="edu-history-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0" style="background-color: transparent;">
        <div class="modal-header border-0" style="border-radius: 10px;">
        <h1 class="modal-title text-white fs-5 font-kanit w-100 text-center" id="exampleModalLabel">My Entire Education History</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color: transparent;">
            <div class="container-fluid bg-gp px-3 py-3" style="border-radius: 10px; background-color: transparent;">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item" style="border-radius: 25px;">
                        <h2 class="accordion-header rounded-pill">
                            <button class="accordion-button collapsed rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#lasalle" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="font-kanit">Secondary School</span>
                            </button>
                        </h2>
                        <div id="lasalle" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fs-5 fw-bold">SM La Salle Secondary School (2013 - 2017)</p>
                                <p class="fs-5 fw-bold fst-italic blockquote-footer">SPM Results (2A, 2B+, 4B, 1C)</p>
                                <ul class="list-group w-50">
                                    <li class="list-group-item border-0 d-flex justify-content-between align-items-center font-tn">
                                      English
                                      <span class="badge bg-success rounded-pill">A</span>
                                    </li>
                                    <li class="list-group-item border-0 d-flex justify-content-between align-items-center font-tn">
                                      Math
                                      <span class="badge bg-success rounded-pill">A</span>
                                    </li>
                                    <li class="list-group-item d-flex border-0 justify-content-between align-items-center font-tn">
                                      Physics
                                      <span class="badge bg-info rounded-pill">B+</span>
                                    </li>
                                    <li class="list-group-item d-flex border-0 justify-content-between align-items-center font-tn">
                                        History
                                        <span class="badge bg-info rounded-pill">B+</span>
                                    </li>
                                    <li class="list-group-item d-flex border-0 justify-content-between align-items-center font-tn">
                                        Add Math
                                        <span class="badge bg-warning rounded-pill">B</span>
                                    </li>
                                    <li class="list-group-item d-flex border-0 justify-content-between align-items-center font-tn">
                                        Chemistry
                                        <span class="badge bg-warning rounded-pill">B</span>
                                    </li>
                                    <li class="list-group-item d-flex border-0 justify-content-between align-items-center font-tn">
                                        Moral
                                        <span class="badge bg-warning rounded-pill">B</span>
                                    </li>
                                    <li class="list-group-item d-flex border-0 justify-content-between align-items-center font-tn">
                                        Bahasa Malaysia
                                        <span class="badge bg-warning rounded-pill">B</span>
                                    </li>
                                    <li class="list-group-item d-flex border-0 justify-content-between align-items-center font-tn">
                                        Biology
                                        <span class="badge bg-danger rounded-pill">C</span>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-3" style="border-radius: 25px;">
                        <h2 class="accordion-header rounded-pill">
                            <button class="accordion-button collapsed rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#kml" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="font-kanit">Matriculation</span>
                            </button>
                        </h2>
                        <div id="kml" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fs-5 fw-bold">Labuan Matriculation College (2018 - 2019)</p>
                                <p class="fs-5 fw-bold fst-italic blockquote-footer">Science Course</p>
                                <p class="fs-5 fw-bold"><span class="badge bg-success rounded-pill" style="margin-right: 5px;">CGPA</span>3.54</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-3" style="border-radius: 25px;">
                        <h2 class="accordion-header rounded-pill">
                            <button class="accordion-button collapsed rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#ums" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="font-kanit">University</span>
                            </button>
                        </h2>
                        <div id="ums" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fs-5 fw-bold">Universiti Malaysia Sabah (2019 - 2023)</p>
                                <p class="fs-5 fw-bold fst-italic blockquote-footer">Bachelor's Degree in Computer Science With Honors (Software Engineering)</p>
                                <p class="fs-5 fw-bold"><span class="badge bg-success rounded-pill" style="margin-right: 5px;">CGPA</span>3.79</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <!-- <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
    </div>
    </div>
</div>