<div class="container-fluid bg-primarygreen py-5">
    <p class="fs-2 font-pixel text-center">Marc Forbes' Portfolio</p><hr>
    <div class="row">

        <div class="col-md-6 text-white">
            <p class="text-white font-kanit fs-3">
                Quotes Of The Day
            </p>
            <blockquote class="blockquote mb-0">
                <p>"Go through the storm in order to see the rainbow"</p>
                <footer class="blockquote-footer text-white">I am probably paraphrasing that quote but nonetheless it is <cite title="Source Title">very nice</cite></footer>
            </blockquote>
            <blockquote class="blockquote mt-3">
                <p>"A journey of a million miles begins with one step"</p>
                <footer class="blockquote-footer text-white">I have no idea <cite title="Source Title">who</cite> said it</footer>
            </blockquote>
        </div>
        <div class="col-md-3 px-5">
            <p class="font-kanit text-white fs-3">Socials</p>
            <p class="px-5"><i class="bi bi-linkedin fs-2 text-white"></i></p>
            <p class="px-5"><i class="bi bi-github fs-2 text-white"></i></p>

        </div>

        <div class="col-md-3 px-5">
            <p class="font-kanit text-white fs-3">Contact Information</p>
            <p class="px-5 text-white"><i class="bi bi-envelope-at-fill fs-2 text-white"></i> marcforbes31@gmail.com</p>

        </div>
    </div>
</div>